[Desktop Entry]
Name=Malazan Dark
Name[ar]=مالازان داكن
Name[ast]=Malazan Dark
Name[bg]=Malazan Dark
Name[ca]=Malazan Dark
Name[cs]=Malazan Dark
Name[da]=Malazan Dark
Name[de]=Malazan Dark
Name[el]=Malazan Dark
Name[en_GB]=Malazan Dark
Name[es]=Malazan Dark
Name[et]=Malazan Dark
Name[eu]=Malazan Dark
Name[fi]=Malazan Dark
Name[fr]=Malazan Dark
Name[gd]=Malazan Dark
Name[gl]=Malazan Dark
Name[he]=Malazan Dark
Name[hr]=Malazan Dark
Name[hu]=Malazan Dark
Name[ia]=Malazan Dark
Name[id]=Malazan Dark
Name[is]=Malazan Dark
Name[it]=Malazan Dark
Name[ja]=Malazan Dark
Name[kk]=Malazan Dark
Name[km]=Malazan Dark
Name[ko]=Malazan Dark
Name[lt]=Malazan Dark
Name[lv]=Malazan Dark
Name[nb]=Malazan Dark
Name[nds]=Malazan Dark
Name[nl]=Malazan Dark
Name[nn]=Malazan Dark
Name[pa]=Malazan Dark
Name[pl]=Malazan Dark
Name[pt]=Malazan Dark
Name[pt_BR]=Malazan Dark
Name[ro]=Malazan Dark
Name[ru]=Malazan Dark
Name[si]=Malazan Dark
Name[sk]=Malazan Dark
Name[sl]=Malazan Dark
Name[sq]=Malazan Dark
Name[sr]=Malazan Dark
Name[sv]=Malazan Dark
Name[ta]=Malazan Dark
Name[tg]=Malazan Dark
Name[tr]=Malazan Dark
Name[ug]=Malazan Dark
Name[uk]=Malazan Dark
Name[vi]=Malazan Dark
Name[zh_CN]=Malazan Dark
Name[zh_TW]=Malazan Dark

Comment=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ar]=مالازان داكن
Comment[ast]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[bg]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ca]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[cs]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[da]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[de]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[el]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[en_GB]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[es]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[et]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[eu]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[fi]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[fr]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[gd]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[gl]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[he]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[hr]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[hu]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ia]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[id]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[is]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[it]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ja]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[kk]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[km]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ko]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[lt]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[lv]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[nb]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[nds]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[nl]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[nn]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[pa]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[pl]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[pt]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[pt_BR]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ro]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ru]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[si]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[sk]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[sl]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[sq]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[sr]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[sv]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ta]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[tg]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[tr]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[ug]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[uk]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[vi]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[zh_CN]=Malazan-inspired dark theme with atmospheric blur and transparency
Comment[zh_TW]=Malazan-inspired dark theme with atmospheric blur and transparency

Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Version=1.0

[X-Plasma-API]
declarative-api=5.15

[Plugins]
WallpaperPlugin=org.kde.image
ThemePlugin=org.kde.point
	
[Layout]
widgetStyle=org.kde.breezedark.desktop
lookandfeel=org.kde.malazandark.desktop
